[submodule "parent"]
	path = parent
	url = git@github.com:cytoscape/cytoscape-parent.git
[submodule "api"]
	path = api
	url = git@github.com:cytoscape/cytoscape-api.git
[submodule "impl"]
	path = impl
	url = git@github.com:cytoscape/cytoscape-impl.git
[submodule "support"]
	path = support
	url = git@github.com:cytoscape/cytoscape-support.git
[submodule "gui-distribution"]
	path = gui-distribution
	url = git@github.com:cytoscape/cytoscape-gui-distribution.git
[submodule "app-developer"]
	path = app-developer
	url = git@github.com:cytoscape/cytoscape-app-developer.git
[submodule "headless-distribution"]
	path = headless-distribution
	url = git@github.com:cytoscape/cytoscape-headless-distribution.git
